@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
}

body {
  @apply bg-background text-foreground antialiased;
  font-feature-settings: "rlig" 1, "calt" 1;
}
